In [1]:
import numpy as np
import pandas as pd

In [2]:
#Exp1: 18/09, Exp2: 20/09, Exp3: 20/10
Exp1_time = [127, 247, 367, 487, 607, 732, 852, 1032, 1922, 3732]
Exp2_time = [140, 260, 380, 500, 620, 740, 870, 1050, 1950, 3750]
Exp3_time = [125, 250, 370, 494, 621, 741, 868, 1054, 1962, 3762]

Exp1_data = [2030.11, 1495.71, 1155.13, 628.36, 531.54, 289.69, 234.99, 176.48, 144.65, 162.19]
Exp2_data = [1704.39, 1476.42, 1292.76, 1067.22, 767.64, 209.29, 174.57, 221.29, 137.35, 107.61]
Exp3_data = [1803.12, 1254.7, 940.73, 460.25, 226.65, 144.26, 107.25, 66.35, 50.73, 66.63]

In [4]:
df_exp = pd.DataFrame(data = [[127, 247, 367, 487, 607, 732, 852]], columns = ['Sample', 'Exp1_t', 'Exp1_d', 'Exp2_t', 'Exp2_d', 'Exp3_t', 'Exp3_d'])
df_exp.head()

   Sample  Exp1_t  Exp1_d  Exp2_t  Exp2_d  Exp3_t  Exp3_d
0     127     247     367     487     607     732     852